<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Pet info</title>
   <link rel="stylesheet" href="/Files/style.css">
</head>
<body>
    <h2>Pet Info</h2>
    <div class="box">
    <p>Pet id : <%=pet.id%></p>
    <p>Pet Name : <%=pet.name%> </p>
    <p>Pet Species :<%=pet.species%> </p>
    <p>Pet Age : <%=pet.age%></p>
    </div>
</body>
</html>